extends layout

block content
	h1= title
	p Welcome to #{title}
	div
		#tableDiv

	script.
		var port = "#{port}";
		var host = "#{host}";

block append afterScripts
	script(src="/javascripts/indexClient.js")
